
#app-container{
	overflow-x: hidden;
}

#empty-message{
	display: inline-block;
	font-size: 28px;
	width: 200px;
	margin-right: 60px;
	margin-top: 30px;
	font-family: "Source Sans Pro";
}

#empty-message-arrow{
	position: absolute;
	right: 42px;
	top: 40px;
}

.library-items{
	margin: 20px 10px;
}
.library-item{
	position: relative;
}

.offscreenText{
	display:none;
}

.details{
	display: none;
}

.details-body .buttons{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.library-item img{
	cursor: pointer;
}

.details-body .no-cover{
	width: 150px;
	height: 200px;
	font-size: 20px;
}
.no-cover{
	display: table;
	padding: 5%;
	color: white;
	font-family: serif;
}

.no-cover p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.modal-cover-wrap img{
	max-width: 150px;
	max-height: 200px;
}

.modal-cover-wrap{
	position: relative;
	margin-right: 20px;
	height: 240px;
	display: inline-block;
	max-width: 185px;
	vertical-align: top;
}
.modal-book-info{
	display: inline-block;
	vertical-align: top;
	max-width: 370px;
}
.details-body{
	height: 240px;
}

.title, .author{
	/*text-align: center;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left:5px;
	font-family: "Source Sans Pro"
}

.title{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}

.author{
	color: #555;
}

nav #remotestorage-widget, nav #remotestorage-widget .rs-cube {
	position: static;
}

@media (max-width:768px){
	.library-item .book-info{
		display: none;
	}
}

/* list view styles */
body.list-view #app-container{
	position: relative;
}
body.list-view #app-container .library-item{
	width: 100%;
	height: 250px;
	position: static;
	display: table-row;
}

body.list-view #app-container .library-item .book-info,
body.list-view #app-container .library-item .info-wrap{
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

body.list-view #app-container .library-item .book-info .title{
	font-size: 24px;
	font-weight: normal;
	text-align: left;
	white-space: normal;
}
body.list-view #app-container .library-item .book-info .author{
	text-align: left;
}

body.list-view #app-container .library-item img{
	height: 190px;
	width: 142px;
	max-width: 142px;
}

body.list-view #app-container .library-item .no-cover{
	height: 190px;
	width: 142px;
	padding: 5px;
	font-size: 19px;
}
body.list-view .buttons{
	margin-top: 10px;
}
body.list-view .details{
	display: inline;
}
@media (max-width:768px){
	body.list-view #app-container .library-item .book-info,
	body.list-view #app-container .library-item .info-wrap{
		padding-left: 10px;
	}
}


/*.icon-library, .icon-library:active{
  background-image: url('../images/glyphicons_319_sort.png');
}

.icon-add-epub, .icon-add-epub:active{
  background-image: url('../images/glyphicons_432_plus.png');
}

.icon-thumbnails, .icon-thumbnails:active{
  background-image: url('../images/glyphicons_156_show_thumbnails.png');
}

.icon-list-view, .icon-list-view:active{
  background-image: url('../images/glyphicons_158_show_lines.png');
}*/

.icon-thumbnails{
	display:none;
}

.list-view .icon-thumbnails{
	display:block;
}

.list-view .icon-list-view{
	display:none;
}

