html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px 10px 10px 10px;
    position: absolute;
    overflow: hidden;
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

iframe {
    border-width: 0;
}

#viewport {
    width: 100%;
    height: 100%;
    position: relative;
}


/*Fixed layout */

#fixed-book-frame {
    position: absolute !important;
}

.fixed-page-frame {
    position: absolute !important;
}

.iframe-fixed {
    width: 100%;
    height: 100%;
}


/*Reflowable layout*/

#reflowable-book-frame {
    position: absolute !important;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}

#reflowable-content-frame {
    position: absolute !important;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}