.icon48 {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
}

.page-switch-overlay-icon {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: -250px;
  animation-duration: 0.25s; /*0.25s*/
}

*#readium-logo {
  background: transparent url('../images/ico_readium_up.png') center top no-repeat;
}
*#readium-logo:hover {
  background: transparent url('../images/ico_readium_over.png') center top no-repeat;
}

*#previous-page-btn {
  transform: scaleX(1);
  left: 0;
  animation-name: page-btn-unhover;
  opacity: 0.5;
}
*#previous-page-btn:hover {
  animation-name: page-btn-hover;
  opacity: 1.0;
}

*#next-page-btn {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 0;
  animation-name: page-btn-unhover;
  opacity: 0.5;
}
*#next-page-btn:hover {
  animation-name: page-btn-hover;
  opacity: 1.0;
}

@keyframes page-btn-hover {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes page-btn-unhover {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.5;
  }
}

.synthetic-page-ico {
  background: transparent url('../images/ico_doublepage_up.png') center top no-repeat;
}
.synthetic-page-ico:hover {
  background: transparent url('../images/ico_doublepage_over.png') center top no-repeat;
}

.single-page-ico {
    background: transparent url('../images/ico_singlepage_up.png') center top no-repeat;
}
.single-page-ico:hover {
  background: transparent url('../images/ico_singlepage_over.png') center top no-repeat;
}

*#epub-demo-library {
  background: transparent url('../images/ico_menu_up.png') center top no-repeat;
}
*#epub-demo-library:hover {
  background: transparent url('../images/ico_menu_over.png') center top no-repeat;
}

.night-mode-on-ico {
  background: transparent url('../images/ico_nightmode_toggle_on.png') center top no-repeat;
}

.night-mode-off-ico {
    background: transparent url('../images/ico_nightmode_toggle_off.png') center top no-repeat;
}

.divider-vertical {
  opacity: 0.25;
}

