html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

#viewport_reflowable {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

#viewport_fixed {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

#epub-reader-container {
    position: relative;
}

iframe {
    border-width: 0;
}

.fixed_iframe {
    width: 100%;
    height: 100%;
}

.left_page {

    left: 0;
    width: 50%;
    height: 100%;
}

.right_page {
    left: 50%;
    width: 50%;
    height: 100%;
}

.center_page {
    left: 0;
    width: 100%;
    height: 100%;
}

.fixed-page-wrap {

    position: absolute;
}

