
#about-dialog div{
  text-align: center;
}

.chrome-app .icon-full-screen, .chrome-app .icon-annotations{
  display:none;
}

.about-message{
  margin: 20px 0px;
}

#about-dialog .version{
  margin-top: 10px;
  font-weight: bold;
}

#readium-toc-body{
  display: none;
  overflow: auto;
  background: #f3f3f3;
  border-right: solid 2px rgba(0,0,0,.15);
}

#readium-toc-body button.close{
  margin-right: 20px;
  margin-top: 5px;
  opacity: .8;
}

#readium-toc-body button.close:focus{
  outline: none;
}

#readium-toc-body ol{
  list-style-type: none;
  margin-top: 10px;
}

.toc-visible #readium-toc-body{
  display: inline-block;
  width: 30%;
}

.toc-visible #reading-area{
  left: 30%;
}

.navbar
{
    z-index: 888;
}

/* toolbar */
.navbar .btn-group > .btn{
  border: none;
  border-radius: 0px;
  user-select:none;
}

.navbar .btn-group > .btn:hover, .navbar .btn-group > .btn:active, .navbar .btn-group > .btn:focus{
  box-shadow: none;
}

.navbar .btn {
  color : #ddd;
  font-size: 16px;
  width: 48px;
  height: 36px;
  background: no-repeat center center;
    background-color: #4d4d4d;
}

.navbar,
#audioplayer.expanded-audio
{
  background: #4d4d4d;
  box-shadow: 0px 1px 5px #333;
  border-radius: 0px;
  min-height: 36px;
  margin-bottom: 0px;
}

.navbar-right
{
    min-height: 36px;
    background-color: #4d4d4d;
}

#audioplayer.expanded-audio
{
    min-height: 72px;
}

.book-title-header{
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  color: #999;
  font-weight: normal;
  font-size: 1.0em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin: 15px 0px 0px 0px;
  z-index: -1;
  font-family: serif;
}
/*.icon-show-hide, .icon-show-hide:active{
  display: none;
}*/
/*.icon-annotations, .icon-annotations:active{
  background-image: url('../images/glyphicons_150_edit.png');
}
.icon-full-screen, .icon-full-screen:active{
  background-image: url('../images/glyphicons_215_resize_full.png');
}*/
.icon-exit-full-screen, .icon-exit-full-screen:active{
  display: none;
  /*background-image: url('../images/glyphicons_214_resize_small.png');*/
}

.icon-exit-full-screen:-webkit-full-screen-document{
  display: block;
}
.icon-exit-full-screen:-moz-full-screen{
  display: block;
}
.icon-exit-full-screen:fullscreen{
  display: block;
}

.icon-full-screen:-webkit-full-screen-document{
  display: none;
}
.icon-full-screen:-moz-full-screen{
  display: none;
}
.icon-full-screen:fullscreen{
  display: none;
}

/*.icon-settings, .icon-settings:active{
  background-image: url('../images/glyphicons_136_cogwheel.png');
}*/

.navbar .icon-logo, .navbar .icon-logo:active{
  background-image: url('../images/readium_logo.png');
  width: 130px; 
  background-size: auto 28px;
}

/*.icon-toc, .icon-toc:active{
  background-image: url('../images/glyphicons_114_list.png');
}*/

/*   Audioplayer Controls START   */

.navbar-right
{
    overflow: visible;
    height: 0.4em;
}

.navbar .btn-group #audioplayer .btn{
  border: none;
  border-radius: 0px;
  user-select:none;
}


.navbar .btn-group #audioplayer .btn:hover,
.navbar .btn-group #audioplayer .btn:active,
.navbar .btn-group #audioplayer .btn:focus,
.navbar .btn-group #audioplayer .btn[disabled]
{
  box-shadow: none;
  outline: none;
}

#audioplayer {
    float: left;
    position: relative;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
    display: none;
}

#audioplayer button[disabled],
#audioplayer input[disabled] {
    opacity: 0.3;
}

#audioplayer.isPlaying {
    background-color: #000000;
}
#audioplayer.isPlaying .btn {
    background-color: #000000;
}

#btn-expand-audio > .glyphicon
{
    color: #808080;
}

#btn-expand-audio:not(.expand-audio) > #icon-expand {
    display: none;
}
#btn-expand-audio.expand-audio > #icon-collapse {
    display: none;
}

#btn-toggle-audio:not(.pause-audio) > #icon-pause {
    display: none;
}
#btn-toggle-audio.pause-audio > #icon-play {
    display: none;
}

#audioplayer.expanded-audio > #audioExpanded
{
    display: block;
    min-height: 36px;
}

#audioExpanded
{
    display: none;
}

#btn-audio-volume,
#btn-audio-volume > .glyphicon
{
    padding-right: 0;
    margin-right: 0;
}
#volume-range-slider
{
    padding-left: 0;
    margin-left: 0;
}
.navbar #btn-audio-volume.btn {
  width: 30px;
}

#btn-audio-volume:not(.no-volume) > #icon-volume-off {
    display: none;
}
#btn-audio-volume.no-volume > #icon-volume-on {
    display: none;
}

#icon-skip-off,
#icon-touch-off
{
    color: red;
}
#icon-skip-on,
#icon-touch-on
{
    color: green;
}

#btn-esc-audio,
#btn-skip-audio
{
    float: right;
}

#btn-touch-audio:not(.no-touch) > #icon-touch-off {
    display: none;
}
#btn-touch-audio.no-touch > #icon-touch-on {
    display: none;
}
#btn-skip-audio:not(.skip) > #icon-skip-off {
    display: none;
}
#btn-skip-audio.skip > #icon-skip-on {
    display: none;
}

#icon-touch-hand {
    margin-right: -0.4em;
}


/* Issues with thumb :(
#rate-range-slider
{
    position: relative;
    top: 2px;
}
*/

#btn-audio-rate,
#btn-audio-rate > .glyphicon
{
    padding-right: 0;
    margin-right: 0;
}
#rate-range-slider
{
    padding-left: 0;
    margin-left: 0;
}
.navbar #btn-audio-rate.btn {
  width: 30px;
}


#volume-range-slider
{
    position: relative;
    top: 3px;
}

#volume-range-slider,
#time-range-slider,
#rate-range-slider
{
    -webkit-appearance: slider-horizontal;
    -webkit-appearance: none;
    
    background-color: #484848;
    border-radius: 8px;
    border: 1px solid #383838;
    
    cursor: pointer;
}

#volume-range-slider::-moz-range-track,
#time-range-slider::-moz-range-track,
#rate-range-slider::-moz-range-track
{    
    background-color: #484848;
    border-radius: 8px;
    border: 1px solid #383838;
    
    cursor: pointer;
}
,

#volume-range-slider:active,
#time-range-slider:active,
#rate-range-slider:active
{
    box-shadow: 0 0 0 1px #6fb5f1;
}

#volume-range-slider::-webkit-slider-thumb,
#time-range-slider::-webkit-slider-thumb,
#rate-range-slider::-webkit-slider-thumb
{
    -webkit-appearance: none;

    background-color: #ddd;
    
    width: 10px;
    height: 10px;
    
    border-radius: 4px;
}

#volume-range-slider::-moz-range-thumb,
#time-range-slider::-moz-range-thumb,
#rate-range-slider::-moz-range-thumb
{
    background-color: #ddd;
    
    width: 10px;
    height: 10px;
    
    border-radius: 4px;
}

#time-range-slider
{
    width: 100%;

    border-left: 10px solid #4d4d4d;
    border-right: 10px solid #4d4d4d;
}
#time-range-slider::-moz-range-track
{
    border-left: 10px solid #4d4d4d;
    border-right: 10px solid #4d4d4d;
}

/*
#volume-range-slider:active::-webkit-slider-thumb
{
border: 1px solid #0940fd;
box-shadow: 0 0 0 1px #6fb5f1;
}
#volume-range-slider:active::-moz-range-thumb
{
border: 1px solid #0940fd;
box-shadow: 0 0 0 1px #6fb5f1;
}
*/


/*   Audioplayer Controls END   */

/* settings-dialog */
#font-size-input, #margin-size-input{
  width: 100%;
  margin-top: 7px;
}

.icon-scale-down{
  text-align: right;
}

@media (max-width:768px){
  .navbar .btn-group > .btn.icon-full-screen{
    display:none;
  }
}

.theme-option{
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #777;
  padding: 3px;
  margin-bottom: 10px;
}
.night-theme {
  background-color: #141414;
  color: white;
}
.parchment-theme {
  background-color: #f7f1cf;
  color: #774c27;
}
.ballard-theme {
  background-color: #576b96;
  color: #DDD;
}
.vancouver-theme {
  background-color: #DDD;
  color: #576b96;
}

.clickable{
  user-select:none;
  -webkit-user-select: none;
  cursor: pointer;
}
.preview-text{
  border: 1px solid #777;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  height: 75px;
  overflow: hidden;
  text-align: left;
}
.offscreen-text{
  display:none;
}


/* page traversal buttons */
.page-switch-overlay-icon {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: -250px;
  animation-duration: 0.25s; /*0.25s*/
}


#previous-page-btn {
  transform: scaleX(1);
  left: 0;
  opacity: 0.5;
}
#previous-page-btn:hover {
  opacity: 1.0;
}

#next-page-btn {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 0;
  opacity: 0.5;
}
#next-page-btn:hover {
  opacity: 1.0;
}


/* epub container */
#reading-area {

    position: absolute;

    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 38px;

}

#epub-reader-container {

    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}

/* embedded mode styles */
.embedded .navbar .btn-group > .btn.icon-full-screen, .embedded .navbar .btn-group > .btn.icon-toc{
  display:inline-block;
  opacity: 1;
}

.hide-ui .navbar{
  -webkit-transition: all .2s ease-out;
  opacity:0;
}

.hide-ui #previous-page-btn, 
.hide-ui #next-page-btn,
.embedded .toc-visible #previous-page-btn, 
.embedded .toc-visible #next-page-btn{
  -webkit-transition: opacity .2s ease-out;
  opacity: 0
}

.embedded .navbar .btn-group > .btn.icon-full-screen{
  float: right;
}

/*
.embedded .navbar .btn-group > .btn, .embedded .navbar .btn-group > .btn:hover, .embedded .navbar .btn-group > .btn:active, .embedded .navbar .btn-group > .btn:focus{
  background-color: rgba(0,0,0,0.2);
}
*/

.embedded .navbar{
  position: absolute;
  top: 0px;
  z-index: 2;
  margin: 0px;
  padding: 2px 5px 2px 5px;
  width: 100%;
  min-height:0px;
  border-radius: 0px;
}

/*.embedded .navbar.user-displayed{
  background-color: rgba(0,0,0,0.8);
}

.embedded .navbar.user-displayed .btn-group > .btn {
  display: block;
  background-color: transparent;
}*/

.embedded #app-container #reading-area{
  top: 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.embedded #reflowable-content-frame{
  margin: 20px;
}
.embedded .navbar .btn {
  width: 24px;
  height: 24px;
  display: none;
}
.embedded .navbar .btn-group > .btn{
  border-radius: 4px !important;
}
/*.embedded .icon-show-hide, .embedded .icon-show-hide:active{
  background-image: url('../images/white-more.png');
  background-size: 16px 4px;
  display: block;
}*/

/*.embedded .navbar.user-displayed .btn-group .icon-show-hide{
  background-image: url('../images/white-remove.png');
  background-size: 16px 16px;
}*/

.embedded .icon-full-screen, .embedded .icon-full-screen:active{
  background-image: url('../images/white-resize-full.png');
  background-size: 16px 16px;
}

.embedded .icon-full-screen:-webkit-full-screen-document{
  background-image: url('../images/white-resize-small.png');
}
.embedded .icon-full-screen:-moz-full-screen{
  background-image: url('../images/white-resize-small.png');
}
.embedded .icon-full-screen:fullscreen{
  background-image: url('../images/white-resize-small.png');
}

/*.embedded .icon-settings, .embedded .icon-settings:active{
  background-image: url('../images/white-cogwheel.png');
  background-size: 16px 16px;
}*/

.embedded .navbar .btn-group > .btn{
  display:none;
}

.embedded .icon-toc, .embedded .icon-toc:active{
  background-image: url('../images/white-list.png');
  background-size: 16px 16px;
}
.embedded #readium-toc-body{
  top: -100%;
  -webkit-transition: top .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  color: white;
  
}
.embedded .toc-visible #readium-toc-body{
  top: 0%;
  -webkit-transition: top .3s ease-out;
  /*-moz-transition: -moz-transform .3s ease-out, background-color .3s step-end, color .3s step-end, z-index .3s step-end, position .3s step-end;
  -o-transition: -o-transform .3s ease-out, background-color .3s step-end, color .3s step-end, z-index .3s step-end, position .3s step-end;
  transition: transform .3s ease-out, background-color .3s step-end, color .3s step-end, z-index .3s step-end, position .3s step-end;*/
  
}

.embedded .toc-visible #reading-area{
  left: 0%;
}

.embedded #readium-toc-body a{
  color: white;
}

.embedded .toc-visible button.close{
  color: transparent;
  text-shadow: none;
  position: fixed;
  width: 16px;
  background: url('../images/white-chevron-up.png') no-repeat;
  background-size: 16px 11px;
  left: 9px;
  top: 5px;
}

/*.embedded .navbar-left{
  float: left!important;
}*/
.embedded .navbar-right{
  float: none!important;
  clear: left;
  width: 100%;
}
.embedded .btn-group{
  display: block;
}

.embedded #annotations-highlight{
  display:none;
}


