
#about-dialog div{
  text-align: center;
}

.chrome-app .icon-full-screen, .chrome-app .icon-annotations{
  display:none;
}


#readium-toc-body{
  display: none;
  overflow: auto;
}

#readium-toc-body button.close{
  margin-right: 20px;
  margin-top: 5px;
  opacity: .8;
}

#readium-toc-body button.close:focus{
  outline: none;
}

#readium-toc-body ol{
  list-style-type: none;
  margin-top: 10px;
}

.toc-visible #readium-toc-body{
  display: inline-block;
  width: 30%;
}

.toc-visible #reading-area{
  left: 30%;
}

/* toolbar */
.navbar .btn-group > .btn{
  border: none;
  border-radius: 0px;
  user-select:none;
}

.navbar .btn-group > .btn:hover, .navbar .btn-group > .btn:active, .navbar .btn-group > .btn:focus{
  box-shadow: none;
  background-color: rgba(0,0,0,0);
}

.icon{
  width: 48px;
  height: 48px;
  background: no-repeat center center;
  
}

.icon:before{
  content: ' ';
}

.icon-bookmark, .icon-bookmark:active{
  height: 48px;
  margin-top: 0px;
  background-position-y: -6px; 
  background-image: url('../images/bookmark-blank.png');
}

/*.icon-show-hide, .icon-show-hide:active{
  display: none;
}*/
.icon-annotations, .icon-annotations:active{
  background-image: url('../images/glyphicons_150_edit.png');
}
.icon-full-screen, .icon-full-screen:active{
  background-image: url('../images/glyphicons_215_resize_full.png');
}
.icon-exit-full-screen, .icon-exit-full-screen:active{
  display: none;
  background-image: url('../images/glyphicons_214_resize_small.png');
}

.icon-exit-full-screen:-webkit-full-screen-document{
  display: block;
}
.icon-exit-full-screen:-moz-full-screen{
  display: block;
}
.icon-exit-full-screen:fullscreen{
  display: block;
}

.icon-full-screen:-webkit-full-screen-document{
  display: none;
}
.icon-full-screen:-moz-full-screen{
  display: none;
}
.icon-full-screen:fullscreen{
  display: none;
}

.icon-settings, .icon-settings:active{
  background-image: url('../images/glyphicons_136_cogwheel.png');
}

.icon-logo, .icon-log:active{
  background-image: url('../images/readium.png');
}

.icon-toc, .icon-toc:active{
  background-image: url('../images/glyphicons_114_list.png');
}



/* settings-dialog */
#font-size-input, #margin-size-input{
  width: 100%;
  margin-top: 7px;
}

.icon-scale-down{
  text-align: right;
}

@media (max-width:768px){
  .navbar .btn-group > .btn.icon-full-screen{
    display:none;
  }
}

.theme-option{
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #777;
  padding: 3px;
  margin-bottom: 10px;
}
.night-theme {
  background-color: #141414;
  color: white;
}
.parchment-theme {
  background-color: #f7f1cf;
  color: #774c27;
}
.ballard-theme {
  background-color: #576b96;
  color: #DDD;
}
.vancouver-theme {
  background-color: #DDD;
  color: #576b96;
}

.clickable{
  user-select:none;
  -webkit-user-select: none;
  cursor: pointer;
}
.preview-text{
  border: 1px solid #777;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  height: 75px;
  overflow: hidden;
  text-align: left;
}
.offscreen-text{
  display:none;
}


/* page traversal buttons */
.page-switch-overlay-icon {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: -250px;
  animation-duration: 0.25s; /*0.25s*/
}


#previous-page-btn {
  transform: scaleX(1);
  left: 0;
  opacity: 0.5;
}
#previous-page-btn:hover {
  opacity: 1.0;
}

#next-page-btn {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 0;
  opacity: 0.5;
}
#next-page-btn:hover {
  opacity: 1.0;
}


/* epub container */
#reading-area {

    position: absolute;

    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 75px;

}

#epub-reader-container {

    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}

/* embedded mode styles */
.embedded .navbar .btn-group > .btn.icon-full-screen, .embedded .navbar .btn-group > .btn.icon-toc{
  display:inline-block;
  opacity: 1;
}

.hide-ui .navbar .btn-group,
.hide-ui .navbar .btn-group > .btn.icon-full-screen, 
.hide-ui .navbar .btn-group > .btn.icon-toc{
  -webkit-transition: all .2s ease-out;
  opacity:0;
}

.hide-ui #previous-page-btn, 
.hide-ui #next-page-btn,
.embedded .toc-visible #previous-page-btn, 
.embedded .toc-visible #next-page-btn{
  -webkit-transition: opacity .2s ease-out;
  opacity: 0
}

.embedded .navbar .btn-group > .btn.icon-full-screen{
  float: right;
}

.embedded .navbar .btn-group > .btn, .embedded .navbar .btn-group > .btn:hover, .embedded .navbar .btn-group > .btn:active, .embedded .navbar .btn-group > .btn:focus{
  background-color: rgba(0,0,0,0.2);
}

.embedded .navbar{
  position: absolute;
  top: 0px;
  z-index: 2;
  margin: 0px;
  padding: 2px 5px 2px 5px;
  width: 100%;
  min-height:0px;
  border-radius: 0px;
}

/*.embedded .navbar.user-displayed{
  background-color: rgba(0,0,0,0.8);
}

.embedded .navbar.user-displayed .btn-group > .btn {
  display: block;
  background-color: transparent;
}*/

.embedded #app-container #reading-area{
  top: 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.embedded #reflowable-content-frame{
  margin: 20px;
}
.embedded .navbar .btn {
  width: 24px;
  height: 24px;
  display: none;
}
.embedded .navbar .btn-group > .btn{
  border-radius: 4px !important;
}
/*.embedded .icon-show-hide, .embedded .icon-show-hide:active{
  background-image: url('../images/white-more.png');
  background-size: 16px 4px;
  display: block;
}*/

/*.embedded .navbar.user-displayed .btn-group .icon-show-hide{
  background-image: url('../images/white-remove.png');
  background-size: 16px 16px;
}*/

.embedded .icon-full-screen, .embedded .icon-full-screen:active{
  background-image: url('../images/white-resize-full.png');
  background-size: 16px 16px;
}

.embedded .icon-full-screen:-webkit-full-screen-document{
  background-image: url('../images/white-resize-small.png');
}
.embedded .icon-full-screen:-moz-full-screen{
  background-image: url('../images/white-resize-small.png');
}
.embedded .icon-full-screen:fullscreen{
  background-image: url('../images/white-resize-small.png');
}

/*.embedded .icon-settings, .embedded .icon-settings:active{
  background-image: url('../images/white-cogwheel.png');
  background-size: 16px 16px;
}*/

.embedded .navbar .btn-group > .btn{
  display:none;
}

.embedded .icon-toc, .embedded .icon-toc:active{
  background-image: url('../images/white-list.png');
  background-size: 16px 16px;
}
.embedded #readium-toc-body{
  top: -100%;
  -webkit-transition: top .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  color: white;
  
}
.embedded .toc-visible #readium-toc-body{
  top: 0%;
  -webkit-transition: top .3s ease-out;
  /*-moz-transition: -moz-transform .3s ease-out, background-color .3s step-end, color .3s step-end, z-index .3s step-end, position .3s step-end;
  -o-transition: -o-transform .3s ease-out, background-color .3s step-end, color .3s step-end, z-index .3s step-end, position .3s step-end;
  transition: transform .3s ease-out, background-color .3s step-end, color .3s step-end, z-index .3s step-end, position .3s step-end;*/
  
}

.embedded .toc-visible #reading-area{
  left: 0%;
}

.embedded #readium-toc-body a{
  color: white;
}

.embedded .toc-visible button.close{
  color: transparent;
  text-shadow: none;
  position: fixed;
  width: 16px;
  background: url('../images/white-chevron-up.png') no-repeat;
  background-size: 16px 11px;
  left: 9px;
  top: 5px;
}

/*.embedded .navbar-left{
  float: left!important;
}*/
.embedded .navbar-right{
  float: none!important;
  clear: left;
  width: 100%;
}
.embedded .btn-group{
  display: block;
}

.embedded #annotations-highlight{
  display:none;
}


