@namespace epub 'http://www.idpf.org/2007/ops';

/*
==============================================================================

Misc

==============================================================================
*/

em
{
    border-bottom: 0.08em #333333 dotted;
}


@-webkit-keyframes onoff
{
from
{
    opacity: 0;
}

to
{
    opacity: 1;
}
}
@-moz-keyframes onoff
{
from
{
    opacity: 0;
}

to
{
    opacity: 1;
}
}
@-ms-keyframes onoff
{
from
{
    opacity: 0;
}

to
{
    opacity: 1;
}
}
@-o-keyframes onoff
{
from
{
    opacity: 0;
}

to
{
    opacity: 1;
}
}
@keyframes onoff
{
from
{
    opacity: 0;
}

to
{
    opacity: 1;
}
}


.fade
{
    opacity:0.6;
}


::-webkit-selection
{
    background-color:#0066FF;
    color:#fff;
    text-shadow:none;
}
::-moz-selection
{
    background-color:#0066FF;
    color:#fff;
    text-shadow:none;
}
::-ms-selection
{
    background-color:#0066FF;
    color:#fff;
    text-shadow:none;
}
::-o-selection
{
    background-color:#0066FF;
    color:#fff;
    text-shadow:none;
}
::selection
{
    background-color:#0066FF;
    color:#fff;
    text-shadow:none;
}


a:link
{
    color:#003399;
    text-decoration:none;
    
    border-bottom: 0.08em #0066FF dotted;
}
a:visited
{
    color:#003399;
    text-decoration:none;
    
    border-bottom: 0.08em #0066FF dotted;
}
a:hover
{
    color:#0066FF;
    text-decoration:underline;
    
    border: none;
}
a:active
{
    color:#0066FF;
    text-decoration:none;
    
    border-bottom: 0.08em #0066FF dotted;
}

table
{
    border-spacing:0;
    border-collapse:collapse;
}

table.spaceLined
{
    width: 95%;
}

table.spaceLined td
{
    border-top: 0.08em solid #eeeeee;
    
}

table.spaceLined tr:first-child td
{
    border-top: none;
}

img
{
    -webkit-transform: translateZ(0);
    
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;

}

.full
{
    position:absolute;

    top:0;
    left:0;

    /*
    width:100%;
    height:100%;
    */
    width:1290px;
    height:1000px;

    z-index:0;
}

body:not(.reflow) .full
{
    width:1290px;
    height:1000px;
}

body.reflow .full
{
    width:100%;
    height:100%;
}

.-epub-media-overlay-active
{
    background-color:#003399;
    color:white;
}

body:not(.basic).epb3sldrzr-epubReadingSystem *.epb3sldrzr-notEpubReadingSystem,
body:not(.epb3sldrzr-epubReadingSystem) *.epb3sldrzr-epubReadingSystem
{
    display:none;
}

#epb3sldrzr-notes
{
    display:none;
}


span.keyboard
{
    border-radius: 0.2em;
    
    padding-left: 0.2em;
    padding-right: 0.2em;

    background-color: #D0D0D0;
    
    border-top: 0.12em solid #E0E0E0;
    border-left: 0.12em solid #E0E0E0;
    border-bottom: 0.12em solid #A8A8A8;
    border-right: 0.12em solid #A8A8A8;
}

span.symbols
{
    font-family: FontAwesome, Lato, sans-serif;
    font-size: 1.2em;
}

div.paper
{
    background-color: white;
    
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-ms-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-o-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.code
{
    font-weight: 400;
    font-family: InconsolataMedium, monospace;
    
    font-size: 0.95em;
}

*[hidden]
{
    display:none;
}


body.reflow img:not(.full):not(.nozoom)
{
    
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;

    
-webkit-transform: scale(0.6);
-moz-transform: scale(0.6);
-ms-transform: scale(0.6);
-o-transform: scale(0.6);
transform: scale(0.6);

}

/*
==============================================================================

Title

==============================================================================
*/

span#epb3sldrzr-subtitle
{
    opacity: 0.7;
}

h1#epb3sldrzr-title
{
    font-size: 1.3em;
    
    font-weight: 900;
    
    letter-spacing:0.03em;
    
    padding-left: 20px;
    /*
    padding-left: 2rem;
    */
    
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    
    color:rgba(0, 0, 0, 0.5);

    text-shadow: 0.06em 0.06em 0.11em rgba(255, 255, 255, 1), 0 0 0 rgba(0, 0, 0, 0.5); /* 2px 2px 4px white; */

    background-color:#efefef;
    background-color: rgb(238,238,238);
}

html#epb3sldrzr-NavDoc h1#epb3sldrzr-title
{
    border-bottom: 0.15em solid #CC3300;
}

body:not(.reflow).static.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    /*
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    */
}

body:not(.reflow):not(.epb3sldrzr-epubReadingSystem) h1#epb3sldrzr-title,
body:not(.reflow).basic.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    /*
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    */
}


/*
==============================================================================

Logo

==============================================================================
*/


img#epb3sldrzr-logo
{
    z-index:10;
}

body.reflow img#epb3sldrzr-logo
{
    position:fixed;
}

body:not(.reflow) img#epb3sldrzr-logo
{
    position:absolute;
}

html:not(#epb3sldrzr-NavDoc) img#epb3sldrzr-logo
{
    width: 200px;
    height: 83px;
}


html#epb3sldrzr-NavDoc body.reflow img#epb3sldrzr-logo
{
    bottom: 0px;
    left: 0px;
}

html#epb3sldrzr-NavDoc body:not(.reflow) img#epb3sldrzr-logo
{
    bottom: 30px;
    left: 50px;
}

html:not(#epb3sldrzr-NavDoc) body.reflow img#epb3sldrzr-logo
{
    top: 0px;
    right: 0px;
}

html:not(#epb3sldrzr-NavDoc) body:not(.reflow) img#epb3sldrzr-logo
{
    top: 10px;
    right: 25px;
}

/*
==============================================================================

Lists

==============================================================================
*/

ul,
ol
{
    margin-left: 0.8em;
}

ul
{
    list-style-type:none;
}

ul li
{
    list-style-type:none;
}

ul > li:before
{
    content: '\2022';
    
    font-weight: 900;
    
    font-size: 0.7em;
    
    color: #555555;
    
    padding: 0;
    padding-right: 0.6em;
    
    margin-right: 0;
    margin-left: 0;
}

ol
{
    list-style-type:none;
    counter-reset:item;
}

ol li
{
    list-style-type:none;
}

ol > li:before
{
    font-weight: 900;
    
    font-size: 0.7em;
    
    color: #efefef;
    background-color: #555555;
    
    border-radius: 0.9em;
    
    padding: 0.3em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    
    margin-right: 0.6em;
    
    counter-increment:item;
    content:counter(item);
}


/*

==============================================================================

Slide content

==============================================================================

*/

.epb3sldrzr-markdown
{
    /*
    position: static;
    min-height: 100%;
    width: 100%;
    */
    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

	font-size: 40px;
    
    display: none;
}

#epb3sldrzr-markdown-editor
{
}

#epb3sldrzr-markdown-src
{
    font-family: monospace;

    line-height:1.35em;
    
    background:rgb(41,41,41);
    color:#ddd;
    
    padding: 0.5em;
    
    overflow: auto;
}

#epb3sldrzr-content
{
    display: block;
    
    position: static;
    min-height: 100%;
    
    overflow: hidden;
}

#epb3sldrzr-anim-overflow
{
    display: block;
    
    position: relative;

	min-height:1000px;
    /*
    min-height: 100%;
    */
    
    overflow: hidden;
}

body:not(.reflow) #epb3sldrzr-anim-overflow.vertical-align-middle:before
{
    height: 1000px;
    
    content: '';
    
    display: inline-block;
    display: table-cell;
    
    vertical-align: middle;
    
    margin-right: -0.25em;
}

/*
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
*/

body:not(.reflow) #epb3sldrzr-anim-overflow.vertical-align-middle
{
    height:1000px;

    overflow-y: auto;
    overflow-x: hidden;
    
    /* 
    line-height:1000px;
    height: 100%;
    */
}

body:not(.reflow) #epb3sldrzr-anim-overflow.vertical-align-middle > #epb3sldrzr-content-wrap.vertical-middle
{
    display: inline-block;
    display: table-cell;
        
    vertical-align: middle;

    /*
    THIS WORKS, JUST COMMENT THE :before CSS selector rule above
    
    position: relative;
    top: 50%;
    -PREFIXED_PROPERTY-transform: translateY(-50%);
    */
}

body.reflow h1#epb3sldrzr-title.vertical-align
{
    position:fixed;
}

body:not(.reflow) h1#epb3sldrzr-title.vertical-align
{
    position:absolute;
}

h1#epb3sldrzr-title.vertical-align
{
    left: 0px;
    top: 0px;
}

#epb3sldrzr-content > #epb3sldrzr-anim-overflow > #epb3sldrzr-content-wrap:not(.vertical-middle) > *:not(img):not(.spread):not(.full)
{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    
    /*
    margin-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    */
}

div.boxed > p,
div.boxed > ul,
div.boxed > ol,
div.boxed > div
{
    background-color: white;

    
-webkit-box-shadow: 2px 2px 4px rgb(200, 200, 200);
-moz-box-shadow: 2px 2px 4px rgb(200, 200, 200);
-ms-box-shadow: 2px 2px 4px rgb(200, 200, 200);
-o-box-shadow: 2px 2px 4px rgb(200, 200, 200);
box-shadow: 2px 2px 4px rgb(200, 200, 200);
 /* , 0 0 10px rgba(210, 220, 230, 1) inset; 0 0 50px rgba(0, 0, 0, 1) 0 0 40px rgba(0, 0, 0, 0.1) inset */

    border: 0.06em solid #888888; /* rgb(210, 220, 230); */

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 20px;
    
    /*
    padding-left: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    */
}

div.boxed > p:not(.nopad),
div.boxed > ul:not(.nopad),
div.boxed > ol:not(.nopad),
div.boxed > div:not(.nopad)
{
    padding-top: 20px;
    padding-bottom: 20px;
    
    /*
    padding-bottom: 2rem;
    padding-top: 2rem;
    */
}


div.boxed:not(.framed) > h3
{
    color: #CC3300;
    
    font-weight: 900;
    
    font-size: 0.96em;
    
    line-height: 1;
}

div.boxed:not(.framed) > h3 *
{
    line-height: 1;
}

div.boxed.framed > h3
{
    font-size: 0.8em;
    
    float: right;
    
    background-color: white;
    color: #CC3300;
    
    font-weight: 400;
    
    padding-left: 0.2em;
    padding-right: 0.2em;
}


div.boxed.framed > *
{
    border: 0.06em solid #888888;
}


.epb3sldrzr-author-toMove
{
    border: 2px dotted blue;
}

.epb3sldrzr-author-canMove
{
    cursor: move;
}

.epb3sldrzr-author-moving
{
    border: 2px dotted magenta;
}


nav#epb3sldrzr-pageList
{
    display:none;
}

h1#epb3sldrzr-title
{    
    background: -moz-linear-gradient(left,  rgba(237,237,237,1) 0%, rgba(250,250,250,1) 70%, rgba(255,255,255,0) 100%);

    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(70%,rgba(250,250,250,1)), color-stop(100%,rgba(255,255,255,0)));

    background: -webkit-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

    background: -o-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

    background: -ms-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

    background: linear-gradient(to right,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 );
}

nav[epub|type~='page-list']
{
    display:none;
}

/*
*[contenteditable="true"]
{
    outline-style: auto;
    outline-width: 0.2em;
    outline-color: #111111;
}
*/
