body:not(.basic).epb3sldrzr-epubReadingSystem .incremental,
body:not(.basic).epb3sldrzr-epubReadingSystem .incremental > *
{
	visibility: visible;
	opacity: 1;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental:not([incremental-active]),
body.basic.epb3sldrzr-epubReadingSystem .incremental:not([incremental-active])
{
	visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental > *,
body.basic.epb3sldrzr-epubReadingSystem .incremental > *
{
	opacity: 1;
}

/*body:not(.mobile)
body:not(.basic)
body:not(.IE):not(.opera)
 */
body:not(.epb3sldrzr-epubReadingSystem) .incremental:not(.fade-active) > *
{
	
-webkit-transition: opacity 500ms ease-in-out 0ms;
-moz-transition: opacity 500ms ease-in-out 0ms;
-ms-transition: opacity 500ms ease-in-out 0ms;
-o-transition: opacity 500ms ease-in-out 0ms;
transition: opacity 500ms ease-in-out 0ms;

}

/*body:not(.mobile)*/
body:not(.epb3sldrzr-epubReadingSystem) .incremental,
body:not(.epb3sldrzr-epubReadingSystem) .incremental > *,
body.basic.epb3sldrzr-epubReadingSystem .incremental,
body.basic.epb3sldrzr-epubReadingSystem .incremental > *
{
	
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;

}

body:not(.epb3sldrzr-epubReadingSystem) .incremental:not([incremental-active]) > *,
body:not(.epb3sldrzr-epubReadingSystem) .incremental > *[aria-selected] ~ *,
body.basic.epb3sldrzr-epubReadingSystem .incremental:not([incremental-active]) > *,
body.basic.epb3sldrzr-epubReadingSystem .incremental > *[aria-selected] ~ *
{
	opacity: 0;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental.fade-active[incremental-active] > *,
body:not(.epb3sldrzr-epubReadingSystem) .incremental.fade-active > *[aria-selected] ~ *,
body.basic.epb3sldrzr-epubReadingSystem .incremental.fade-active[incremental-active] > *,
body.basic.epb3sldrzr-epubReadingSystem .incremental.fade-active > *[aria-selected] ~ *
{
	opacity: 0.4;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental > *[aria-selected],
body.basic.epb3sldrzr-epubReadingSystem .incremental > *[aria-selected],
body:not(.epb3sldrzr-epubReadingSystem) .incremental > *[aria-activedescendant],
body.basic.epb3sldrzr-epubReadingSystem .incremental > *[aria-activedescendant]
{
	opacity: 1 !important;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental.fade-active > *[aria-selected],
body.basic.epb3sldrzr-epubReadingSystem .incremental.fade-active > *[aria-selected]
{
	font-weight: 900;
}
