.ibox_wl, .ibox_l, .ibox_nl, .ibox_wr, .ibox_r, .ibox_nr { border: 1px solid gray; padding: 4px; margin: 0.5em 0pt; page-break-inside: avoid;}
.ipic { width: 100%; border: 1px solid gray; }
.ipic_float { float: left; width: 70%; margin-right: 0.5em; border: 1px solid gray; }
.icap { margin: 0pt; font-family: sans-serif; font-size: 0.8em; }
p.lead { margin: 0pt; }
p.cont { margin: 0pt; text-indent: 1.3em; }
h1 { color: teal; border-bottom:3px solid gray; font-size:1.6em; line-height: 1; padding: 0.5em; margin: 0.3em 0.3em 0.4em 0.3em; }
ul { list-style-type: square; margin: 0.1em 0 0.1em 1em; padding: 0pt }
li { margin-left: 0em; }
table.table { border-collapse: collapse; margin: 0.5em 0pt; font-size: 0.8em; page-break-inside: avoid; }
table.table th { border: 1px solid gray; padding: 0.2em; }
table.table td { border: 1px solid gray; padding: 0.2em; }
.table_h1 { background-color: #BCF; }
.table_h2 { background-color: #EEE; }
sup { font-size: 0.6em; line-height: 0.3; }
.def { font-weight: bold; margin: 0.3em 0pt; }
blockquote { margin-top: 0pt; margin-bottom: 0pt; font-style: italic; }
h1, h2, h3, h4 { font-family: sans-serif; font-style: normal; }
h3, h4 { margin: 0.5em 0pt 0.2em 0pt; }
h2 { margin: 1em 0pt 0.3em 0pt; padding-bottom: 0.1em; border-bottom: 2px solid gray; clear: fit; }
.fixed {
	font-family: "Courier New", Courier, monospace;
	font-size: small;
}
