/* Modified 2011-04-14 2:15PM */
@font-face { font-family: "XITS"; src: url(font/opentype); }
@font-face { font-family: "XITSMath"; src: url(font/opentype); }
@font-face { font-family: "XITSRegular";  src: url(font/opentype); }
@font-face { font-family: "XITSBold";  src: url(font/opentype); }
@font-face { font-family: "XITSItalic"; src: url(font/opentype); }
@font-face { font-family: "XITSItaBold"; src: url(); }


h2 i, h3 i, h4 i, h5 i, h6 i{
font-family:"XITSItaBold";	
}

div pre         {font-family: "XITSRegular";
                 font-size: 1em;
		         }



.article_type   {font-family: "XITSItalic";
                 font-size: 1.5em;
                 line-height: 1.25em;
                 } 


/* Title */
h2              {font-family: "XITSBold";
                 font-size: 1.5em;
                 line-height: 1.25em;
                 text-align: left;
                 } 
h2 svg {
	font-family: "XITSMath";
font-size:.65em;
	
}

.author_gp      {font-family: "XITSBold";
                 font-size: 1.25em;
  				 line-height: 1.25em;
                 text-align: left;
                 } 
   
a               {color: black;
                 text-decoration: none;
				 }


.affil sup      {font-family: "XITSRegular";
                 font-size: 1em;
				 }

.affil          {font-family: "XITSItalic";
                 font-size: 1em;
                 text-align: left;
                 }


.dates          {font-family: "XITSRegular";           
                 font-size: 1em;
				 }

.academiceditor {font-family: "XITSRegular";
                 font-size: 1em;
                 }

.copyright      {font-family: "XITSRegular";
                 font-size: 1em;
                 }


/*  Abstract header and content */
.header         {font-family: "XITSBold";
                 font-size: 1em;
                 display: inline;
                 }

.abstract       {font-family: "XITSRegular";
                 font-size: 1em;
                 display: inline;
                 }

body            {font-family: "XITSRegular";
                 text-align:justify;
					 width:99%;			 
                 }

h4, h4#References {font-family: "XITSBold";
             	  font-size: 1.25em;
				  line-height: 1.25em;
                  margin-top: 1.25em;
				  margin-bottom: -.25em;
             	  text-align:left;
                  }

h5,h6               {font-family: "XITSRegular";
             	  font-size: 1.25em;
				  line-height: 1.25em;
				  margin-top: 1.25em;
				  margin-bottom: -.25em;
             	  text-align:left;
                  }
				  
				  


p               {font-family: "XITSRegular";
                 font-size: 1em;   
                 }

i               {font-family: "XITSItalic";
                 }

b               {font-family: "XITSBold";
                 }

/* Equations (inline and displayed)  */

svg tspan       {font-family: "XITSMath";
                 }

.equation       {text-align: center;
                 display:block;
                 margin-bottom: 1em;
                 margin-top: 1em;
                 }

.label          {float:right;
                 }

.ref-list       {font-family: "XITSRegular";
                 font-size: 1em;
              	 text-align:left;
                 }

/* Figures */

p.subcaption    {font-size: 1em;
                 margin-bottom: 1em;
                 margin-top: 2em;
                 display:block;
                 text-align: center;
                 }

p.caption       {font-size: 1em;
                 margin: 1em 2em 2em 2em;
                 display:block;
                 text-align: justify;
                 }

div.mediaobject {text-align: center;
                 page-break-inside: avoid;
                 }

svg.imageobject  {max-width: 95%;
                  max-height: 95%;
				  margin:auto;
				  float:none;
				  page-break-inside: avoid;
                  }

/* Tables */

table.table         {
                     text-align:center;
					 margin:auto;
					 float:none;
					 width:99%;
					 table-layout:fixed;
                     }


.table-group         {text-align:center;
					}


.table-group-caption {text-align:justify;
                      font-size : 1em;
                      margin: 2em 2em 1em 2em;
                      page-break-inside:avoid;
                      }

.table td            {padding: 0 .125em 0 .125em;
word-wrap:break-word;
                     }

.table-fn{
    display : block;
    text-align : left;
    margin : 1em 0 2em 0;
}


/* Lists */


.list{
display:table;
margin-top:20px;
text-align:left;
margin-bottom:1em;
margin-left:2em;
width:99%;
max-width:99%;

}



.list-item {
display:table-row;
margin-left:2em;
position:relative;
}


.list-label {
display:table-cell;
white-space:nowrap;
padding-right:.5em;
vertical-align:top;
 font-style: normal;
}

.list-content {
display:table-cell;
vertical-align:top;
text-align:justify;
}



/* Algorithms */


.tabalg {
    margin: 2em 0;
}

table.algorithm{
    margin-bottom : .75em;
	border: 1px solid #999999;
	padding: 10px;
	display:block;
}

.algorithm-title {
	text-align: justify;
}


i svg{
font-style:normal;	
}

.statement{
display:block;	
}

.br {
display:block;
margin-bottom:0em;
margin-top:0em;	
}

svg.content{
max-width:100%;	
}

.gloss-abbr{
margin-top:1em;	
}

.equation-label{
	display:block;
}

.labgraph{
float:right;	
}

.dispimg{
display:block;
text-align:center;
}

.symbol{
font-family:XITSMath;	
}