@import "page.css";

body {padding: 0;}
div.aboutauthor {text-align: left;}

div.also {
  text-align: left;
  padding-top: 5%;}

a {
  color: #000000;
  text-decoration: none;}

p {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
  text-indent: 1.0em;
  text-align: justify;}