@font-face {
	font-family: 'Go Mono';
	src: url('GoMono-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Go Mono';
	src: url('GoMono.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Go Mono';
	src: url('GoMono-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Go Mono';
	src: url('GoMono-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
