 
/* start css.sty */
.cmr-10x-x-109{}
.cmr-8{font-size:72%;}
.cmbx-10x-x-109{ font-weight: bold;}
.cmbsy-10x-x-109{font-weight: bold;}
.cmbsy-10x-x-109{font-weight: bold;}
.cmbsy-10x-x-109{font-weight: bold;}
.cmbsy-8{font-size:72%;font-weight: bold;}
.cmbsy-8{font-weight: bold;}
.cmbsy-8{font-weight: bold;}
.cmbsy-6{font-size:54%;font-weight: bold;}
.cmbsy-6{font-weight: bold;}
.cmbsy-6{font-weight: bold;}
.cmex-10x-x-109{}
.cmex-8{font-size:72%;}
.cmex-7x-x-85{font-size:54%;}
.msam-10x-x-109{}
.msbm-10x-x-109{}
.msbm-10x-x-80{font-size:72%;}
.cmr-6{font-size:54%;}
.cmmi-10x-x-109{font-style: italic;}
.cmmi-8{font-size:72%;font-style: italic;}
.cmmi-6{font-size:54%;font-style: italic;}
.cmsy-10x-x-109{}
.cmsy-8{font-size:72%;}
.cmsy-6{font-size:54%;}
.cmr-9{font-size:81%;}
.cmmi-9{font-size:81%;font-style: italic;}
.cmcsc-10x-x-90{font-size:81%;}
.cmti-10x-x-109{ font-style: italic;}
.cmti-9{font-size:81%; font-style: italic;}
.cmtt-9{font-size:81%;font-family: monospace;}
.small-caps{font-variant: small-caps; }
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] mi { font-weight: bold; font-style: normal; } 
 math mstyle[mathvariant="normal"] mi { font-weight: normal; font-style: normal; } 
span.footnote-mark{ vertical-align: super; font-size:80%; }
div.submaketitle{ text-align:left; margin-top:2em; border-top: 1px solid black; border-bottom: 1px solid black; margin-left:5%; margin-right:5%; font-size:85%; line-height: 95%;}
div.submaketitle div {margin-top:0.5em; margin-bottom:0.5em; }
div.submaketitle p { margin-top:0em; margin-bottom:0em; }
div.abstract{ margin-top: 2em; text-align:left; margin-right:15pt; margin-left:15pt; }
div.addresses p {margin-top:0em; margin-bottom:0em; }
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; text-align:center; }
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.qed {width:2ex; float:right; text-align:right;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
div.translators {text-align:right; margin-bottom:0.7em;}
.sectionHead{text-align:center;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; } 
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
mo.qopname + mi{margin-left:0.3em}
mi + mo.qopname{margin-left:0.3em}
.figure img.graphics {margin-left:10%;}
/* end css.sty */

