@charset "utf-8";

@font-face {
    font-family:'foobar';
    src: url(../fonts/foobar.ttf);
}

html
{
    font-family: 'foobar', "HiraMinProN-W3", "@ＭＳ明朝", serif, sans-serif;
    font-size: 14pt;
    margin: auto 1em;
    padding: 1em 0;
    max-width: 28em;
    background-color: #fff4e7;
}
body
{
    margin: 0;
}
h1
{
    font-weight: normal;
    line-height: 2;
    font-size: 2em;
    margin-top: 2em;
}
h2
{
    font-weight: normal;
    font-size: 1.25em;
    text-indent: 0em;
    margin-right: 3em;
    /*-webkit-margin-before: 3em;*/
    margin-left: 1em;
    /*-webkit-margin-after: 1em;*/
    margin-top: 2em;
    /*-webkit-margin-start: 2em;*/
}
p 
{
    margin: 0;
    line-height: 1.75;
}
ul, dl
{
    line-height: 2;
}
cite
{
    font-style: normal;
}
blockquote 
{
    margin: 2em 0 0;
    /*-webkit-margin-start: 2em;    */
}
rt {
    font-size: 50%; 
}
p.logo
{
    text-align: right;
}
.block
{
    display: inline-block;
    height:4em;
    margin-left: 2em;
}
.block img
{
    height: 100%;
}
.author_desc
{
    min-width: 10em;
    max-height: 100%;
    margin-right: 3em;
    /*-webkit-margin-before: 3em;*/
}
img.author_portrait
{
    float: left;
    height: 50%;
    font-size: inherit;
    margin-bottom: 1em;
    /*-webkit-margin-end: 1em;*/
}
.author_desc p
{
    font-size: 0.8em;
    line-height: 1.5;
}
.author_desc .en_name
{
    color: #0000FF;
}
p.author
{
    font-weight: normal;
    font-size: 1.25em;
    text-align: right;
    text-indent: 0em;
    margin-bottom: 2em; 
    /*-webkit-margin-end: 2em;*/
}
.main_text
{
    font-size: 1em;
    line-height: 1.75;
    text-align: justify;
    clear: both;
    /* margin: 0 0 0 0; */
    margin-bottom: 12em;
    /* -webkit-margin-after: 12em; */
}
.main_text > p,
.about >p
{
    text-indent: 1em;
}
.main_text p.conversation,
.main_text p.translation,
.main_text p.continued_sentence
{
    text-indent: 0em;
}

span.notes
{
    font-size: smaller;
}
strong.sesame_dot
{
    font-weight: normal;
    -epub-text-emphasis-style: sesame;
    color: #0000FF;
    -epub-text-emphasis-color: #FF0000;
}
span.tcy
{
    /*writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;*/
    -epub-text-combine: horizontal;
    /* --- for test
    -epub-text-emphasis-style: sesame;
    -epub-text-emphasis-color: red; -- */   
}
span.tcy.blue
{
    color: #0000FF;
}

.about
{
    margin-right: 1em;
    /*-webkit-margin-before: 1em;*/
    margin-left: 1em;
    /*-webkit-margin-after: 1em;*/
    font-size: 0.9em;
}
.about h2
{
    margin-top: 0em;
    /*-webkit-margin-start: 0em;*/
}
.about h2:before
{
    content: "◆";
}
.original_information
{
    border: 1px solid #D9D9D9;
}
.bibliographical_information,
.notation_notes
{
    margin-top: 2em;
    /*-webkit-margin-start: 2em;    */
    margin-right: 2em;
    /*-webkit-margin-before: 2em;*/
    margin-left: 2em;
    /*-webkit-margin-after: 2em;*/
        font-size: 0.8em;
}
dl.history {
    font-size: 0.9em;
}
del.hidden {
    display: none;
}

.TableOfContents ol {
    list-style-type: none;
}
.TableOfContents a {
    text-decoration: none;
}
.TableOfContents a:hover {
    text-decoration: underline;
}
