@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_400.woff') format('woff')
	/* ,url('Neuton_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_700.woff') format('woff')
	/* ,url('Neuton_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_400.woff') format('woff')
	/* ,url('Arvo_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_700.woff') format('woff')
	/* ,url('Arvo_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_400.woff') format('woff')
	/* ,url('Lato_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_900.woff') format('woff')
	/* ,url('Lato_900.ttf') format('truetype') */
	;
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: 'InconsolataMedium';
	src: url('Inconsolata.woff') format('woff')
	/* ,url('Inconsolata.ttf') format('truetype') */
	;
	font-weight: normal;
	font-style: normal;
}

/*

http://www.entypo.com/characters/

@font-face
{
	font-family: 'Entypo';
	font-weight: normal;
	font-style: normal;
	src:url(Entypo.woff) format('woff')
	;
}
*/
	/* ,url('Entypo.ttf') format('truetype') */
