
.unicode-range {
    font-family: 'OldStandard-TTF-GRK', arial, helvetica, sans-serif;
}

@font-face {
  font-family: 'OldStandard-TTF-GRK';
  src:url(../fonts/OldStandard-Regular.ttf) format('opentype');
  unicode-range: U+0370-03FF,U+1F00-1FFF; 
}

.old-standard {
    font-family: 'OldStandard', arial, helvetica, sans-serif;
}

@font-face {
  font-family: 'OldStandard';
  src:url(../fonts/OldStandard-Regular.ttf) format('opentype'); 
}
/*-------------------------------------------*/
.sandome {
    font-family: 'Sandome', arial, helvetica, sans-serif;  
}

.sandome-adb {
    font-family: 'Sandome-ADB', arial, helvetica, sans-serif;  
}

.sandome-obf {
    font-family: 'Sandome-OBF', arial, helvetica, sans-serif;  
}

.Zantroke {
    font-family: 'Zantroke', arial, helvetica, sans-serif;  
}

.Zantroke-obf {
    font-family: 'Zantroke-OBF', arial, helvetica, sans-serif;  
}

.Zantroke-adb {
    font-family: 'Zantroke-ADB', arial, helvetica, sans-serif;  
}

.rozel-cut {
    font-family: 'rozelcut', arial, helvetica, sans-serif;  
}

.rozel-cut-obf {
    font-family: 'rozelcut-obf', arial, helvetica, sans-serif;  
}

.rozel-cut-adb {
    font-family: 'rozelcut-adb', arial, helvetica, sans-serif;  
}


@font-face {
    font-family: 'Sandome';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/sandome.ttf) format('opentype');
}

@font-face {
    font-family: 'Sandome-ADB';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/sandome.adb.ttf) format('opentype');
}

@font-face {
    font-family: 'Sandome-OBF';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/sandome.obf.ttf) format('opentype');
}

@font-face {
    font-family: 'Zantroke';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/Zantroke.otf) format('opentype');
}

@font-face {
    font-family: 'Zantroke-OBF';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/Zantroke.obf.otf) format('opentype');
}

@font-face {
    font-family: 'Zantroke-ADB';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/Zantroke.adb.otf) format('opentype');
}

@font-face {
    font-family: 'rozelcut';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/cut-cut.woff) format('woff');
}

@font-face {
    font-family: 'rozelcut-obf';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/cut-cut.obf.woff) format('woff');

}
@font-face {
    font-family: 'rozelcut-adb';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/cut-cut.adb.woff) format('woff');
}
