.rd-highlight.test-highlight {
    position: absolute;
    opacity: 0.4;
    background-color: darkblue; /* how can it set programmatic???*/
}

.rd-highlight.hover-test-highlight {
    position: absolute;
    opacity: 0.5;
    background-color: darkblue; /* how can it set programmatic???*/
}

.underline-range {
    position: absolute;
}

.underline-range > .underline {
    position: relative;
    height: 15%;
    opacity: 0.2;
    background-color: red;
}

.underline-range > .hover-underline {
    position: relative;
    height: 15%;
    opacity: 0.4;
    background-color: red;
}

.underline-range > .transparent-part {
    position: relative;
    height: 85%;
    background-color: transparent;
}