ul.ui-autocomplete
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

li.ui-menu-item {
    display: block;
    padding: 3px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

}
li.ui-menu-item.ui-state-focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

#search-menu {
    text-align: right;
    padding:6px 6px;
}

#searchbox { display:inline; padding: 6px; width: auto; }

.btn.sml {
    height:34px;
    width: 36px;
}

.full-text-search-btn-group{
    padding-top: 6px;
}

input.error,  input.error:focus {
    border-width: thick;
    border-style: solid;
    border-color: red;
}
