html.disable-ie-back-swipe {
    overflow-x: scroll;
	-ms-overflow-style: none;
    -ms-scroll-chaining: none;
}
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    overflow: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    
}

body.fileDragHover {
-webkit-box-shadow: inset 0px 0px 32px 0px blue;
-moz-box-shadow: inset 0px 0px 32px 0px blue;
box-shadow: inset 0px 0px 32px 0px blue;
}

iframe {
    border-width: 0;
}

/* TODO: is that needed? See #epub-reader-frame in viewer.css */
#viewport {
    width: 100%;
    height: 100%;
    position: relative;
}


/*Fixed layout */

#fixed-book-frame {
    position: absolute !important;
}

.fixed-page-frame {
    position: absolute !important;
}

/*.fixed-page-frame iframe{
    border: 1px solid rgba(0,0,0,.2);
}
.fixed-page-frame-left + .fixed-page-frame-right iframe{
    border-left: none;
}

.fixed-page-frame-right + .fixed-page-frame-left iframe{
    border-right: none;
}*/

.iframe-fixed {
    width: 100%;
    height: 100%;
}


/*Reflowable layout*/

#reflowable-book-frame {
    position: absolute !important;
    left:0;
    top:10px;
    right:0;
    bottom:5px;
}

#reflowable-content-frame {
    position: absolute !important;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

/*fixed layout frames only*/
.fixed-page-frame, .fixed-page-frame-left, .fixed-page-frame-right, .fixed-page-frame-center {
    position: absolute !important;
}