<div class="modal fade" id="about-dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div>
      		<img src="/images/about_readium_logo.png">
      	</div>
      	<p>
	      	<span id="i18n_html_readium_tm_a_project">{{{strings.i18n_html_readium_tm_a_project}}}</span>
      	</p>
      	<div>
			<img src="/images/partner_logos.png">
		</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->