<div class="modal fade" id="add-epub-dialog" tabindex="-1" role="dialog" aria-labelledby="add-epub-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="add-epub-label">Add Book To Readium Library</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                {{#canHandleUrl}}
                <div class="form-group">
                    <label class="control-label col-sm-5">From the web:</label>
                    <div class="col-sm-7">
                        <input type="text" id="url-upload" class="form-control" placeholder="http://">
                    </div>
                </div>
                {{/canHandleUrl}}
                <div id="epub-upload-div" class="form-group">
                    <label class="control-label col-sm-5">From Local File:</label>
                    <div class="col-sm-7">
                        <input type="file" id="epub-upload" class="form-control" >
                    </div>
                </div>
                {{#canHandleDirectory}}
                <div class="form-group">
                    <label class="control-label col-sm-5">From Unpacked Directory</label>
                    <div class="col-sm-7">
                        <input type="file" id="dir-upload" webkitdirectory="" mozdirectory="" directory="" class="form-control" >
                    </div>
                </div>
                {{/canHandleDirectory}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default add-book" data-dismiss="modal" disabled="disabled">Add Book</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->