<div id="readium-toc-body">
</div>
<div id="reading-area">
  <!-- Previous page -->
  <a accesskey="p" href="#" id="previous-page-btn" class="page-switch-overlay-icon" role="button" title="{{strings.i18n_page_previous}}" aria-label="{{strings.i18n_page_previous}}" style="z-index:1">
      <img src="images/pagination1.svg">
  </a>
  <!-- Next page -->
  <a accesskey="n" href="#" id="next-page-btn" class="page-switch-overlay-icon" role="button" title="{{strings.i18n_page_next}}" aria-label="{{strings.i18n_page_next}}" style="z-index:1">
      <img src="images/pagination1.svg">
  </a>
  <div id="epub-reader-container">
    <div id="epub-reader-frame">
    </div>
  </div>
</div>