<div id="readium-toc-body">
</div>
<div id="reading-area">
  <!-- Previous page -->
  <button style="background: none; border: none; padding: 0; margin: 0;" tabindex="0" id="previous-page-btn" class="page-switch-overlay-icon" type="button" title="{{strings.i18n_page_previous}}" aria-label="{{strings.i18n_page_previous}}" style="z-index:99">
      <img aria-hidden="true" src="images/pagination1.svg">
      </button>
  <!-- Next page -->
  <button style="background: none; border: none; padding: 0; margin: 0;" tabindex="0" id="next-page-btn" class="page-switch-overlay-icon" type="button" title="{{strings.i18n_page_next}}" aria-label="{{strings.i18n_page_next}}" style="z-index:99">
      <img aria-hidden="true" src="images/pagination1.svg">
  </button>
  <div id="epub-reader-container">
    <div id="epub-reader-frame">
    </div>
  </div>
</div>