<div class="btn-group navbar-left">
    <button type="button" class="btn btn-default icon icon-logo"></button>
    <button type="button" class="btn btn-default icon icon-library"></button>
</div>
<div class="btn-group navbar-right">
    <button type="button" class="btn btn-default icon icon-settings" data-toggle="modal" data-target="#settings-dialog"></button>
    <button type="button" class="btn btn-default icon icon-toc"></button>
    <button type="button" class="btn btn-default icon icon-full-screen"></button>
    <!-- <button type="button" class="btn btn-default icon icon-bookmark"></button>
    <button type="button" class="btn btn-default icon icon-show-hide"></button> -->
</div>