<div class="btn-group navbar-left">
        <!-- <button type="button" class="btn btn-default icon icon-show-hide"></button>  -->
    <button type="button" class="btn btn-default icon icon-logo" data-toggle="modal" data-target="#about-dialog" title="{{strings.about}}"></button>
    <button type="button" class="btn btn-default icon icon-library" title="{{strings.view_library}}"></button>
</div>
<div class="btn-group navbar-right">
    <button type="button" class="btn btn-default icon icon-annotations" title="{{strings.highlight_selection}}"></button>
    <button type="button" class="btn btn-default icon icon-toc" title="{{strings.toc}}"></button>
    <button type="button" class="btn btn-default icon icon-settings" data-toggle="modal" data-target="#settings-dialog" title="{{strings.settings}}"></button>
    <button type="button" class="btn btn-default icon icon-full-screen" title="{{strings.enter_fullscreen}}"></button>
    <button type="button" class="btn btn-default icon icon-exit-full-screen" title="{{strings.exit_fullscreen}}"></button>
    <!-- <button type="button" class="btn btn-default icon icon-bookmark"></button>-->
</div>