<div class="btn-group navbar-left">
        <!-- <button type="button" class="btn btn-default icon icon-show-hide"></button>  -->
    <button id="aboutButt1" tabindex="1" type="button" class="btn icon-logo" data-toggle="modal" data-target="#about-dialog" title="{{strings.about}}" aria-label="{{strings.about}}">
        <span class="icon-readium" aria-hidden="true"></span>
    </button>
    
</div>
<div class="btn-group navbar-right">
    
    <!--Audioplayer Controls START-->
    <div id="audioplayer">
        
        <button tabindex="1" id="btn-collapse-audio" type="button" class="btn icon-collapse-audio" title="{{strings.i18n_audio_collapse}} [{{dialogs.keyboard.MediaOverlaysAdvancedPanelShowHide}}]" aria-label="{{strings.i18n_audio_collapse}} [{{dialogs.keyboard.MediaOverlaysAdvancedPanelShowHide}}]" >
            <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
        </button>

        <button tabindex="1" id="btn-expand-audio" type="button" class="btn icon-expand-audio" title="{{strings.i18n_audio_expand}} [{{dialogs.keyboard.MediaOverlaysAdvancedPanelShowHide}}]" aria-label="{{strings.i18n_audio_expand}} [{{dialogs.keyboard.MediaOverlaysAdvancedPanelShowHide}}]" >
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        </button>
        
        <button tabindex="1" id="btn-previous-audio" type="button" class="btn icon-previous-audio" title="{{strings.i18n_audio_previous}} [{{dialogs.keyboard.MediaOverlaysPrevious}}]" aria-label="{{strings.i18n_audio_previous}} [{{dialogs.keyboard.MediaOverlaysPrevious}}]" >
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </button>
        

        <button tabindex="1" id="btn-play-audio" type="button" class="btn icon-play-audio"  title="{{strings.i18n_audio_play}} [{{dialogs.keyboard.MediaOverlaysPlayPause}}] / [{{dialogs.keyboard.MediaOverlaysPlayPauseAlt}}]"  aria-label="{{strings.i18n_audio_play}} [{{dialogs.keyboard.MediaOverlaysPlayPause}}] / [{{dialogs.keyboard.MediaOverlaysPlayPauseAlt}}]" >
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
        <button tabindex="1" id="btn-pause-audio" type="button" class="btn icon-pause-audio"  title="{{strings.i18n_audio_pause}} [{{dialogs.keyboard.MediaOverlaysPlayPause}}] / [{{dialogs.keyboard.MediaOverlaysPlayPauseAlt}}]"  aria-label="{{strings.i18n_audio_pause}} [{{dialogs.keyboard.MediaOverlaysPlayPause}}] / [{{dialogs.keyboard.MediaOverlaysPlayPauseAlt}}]" >
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
        
        
        <button tabindex="1" id="btn-next-audio" type="button" class="btn icon-next-audio" title="{{strings.i18n_audio_next}} [{{dialogs.keyboard.MediaOverlaysNext}}]" arial-label="{{strings.i18n_audio_next}} [{{dialogs.keyboard.MediaOverlaysNext}}]" >
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </button>
        
        <button tabindex="1" id="btn-audio-volume-mute" type="button" class="btn icon-audio-volume-mute" title="{{strings.i18n_audio_mute}} [{{dialogs.keyboard.MediaOverlaysVolumeMuteToggle}}]" aria-label="{{strings.i18n_audio_mute}} [{{dialogs.keyboard.MediaOverlaysVolumeMuteToggle}}]" >
            <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
        </button>
        <button tabindex="1" id="btn-audio-volume-unmute" type="button" class="btn icon-audio-volume-unmute" title="{{strings.i18n_audio_unmute}} [{{dialogs.keyboard.MediaOverlaysVolumeMuteToggle}}]" aria-label="{{strings.i18n_audio_unmute}} [{{dialogs.keyboard.MediaOverlaysVolumeMuteToggle}}]" >
            <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
        </button>
        
        <input tabindex="1" id="volume-range-slider" type="range" min="0" max="100" value="100" title="{{strings.i18n_audio_volume}} [{{dialogs.keyboard.MediaOverlaysVolumeDecrease}}] / [{{dialogs.keyboard.MediaOverlaysVolumeIncrease}}]" arial-label="{{strings.i18n_audio_volume}} [{{dialogs.keyboard.MediaOverlaysVolumeDecrease}}] / [{{dialogs.keyboard.MediaOverlaysVolumeIncrease}}]"  />
        

        <button tabindex="1" tabindex="1" id="btn-touch-audio-enable" type="button" class="btn icon-touch-audio-enable" title="{{strings.i18n_audio_touch_enable}}" aria-label="{{strings.i18n_audio_touch_enable}}" >
            <span id="icon-touch-off-hand" class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>

            <span id="icon-touch-off" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

        <button tabindex="1" id="btn-touch-audio-disable" type="button" class="btn icon-touch-audio-disable" title="{{strings.i18n_audio_touch_disable}}" aria-label="{{strings.i18n_audio_touch_disable}}" >
            <span id="icon-touch-on-hand" class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>

            <span id="icon-touch-on" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>

        <div id="audioExpanded" role="alert">
            
            <input tabindex="1" id="time-range-slider" type="range" min="0" max="100" value="0" data-value="0" title="{{strings.i18n_audio_time}}" aria-label="{{strings.i18n_audio_time}}"  />
            
            
            <button tabindex="1" id="btn-audio-rate" type="button" class="btn icon-rate-audio" title="{{strings.i18n_audio_rate_reset}} [{{dialogs.keyboard.MediaOverlaysRateReset}}]" aria-label="{{strings.i18n_audio_rate_reset}} [{{dialogs.keyboard.MediaOverlaysRateReset}}]" >
                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            </button>
            
            <input tabindex="1" id="rate-range-slider" type="range" role="slider" min="0" aria-value-min="0" aria-valuemin="0" max="4" aria-value-max="4" aria-valuemax="4" value="1" aria-valuenow="1" aria-value-now="1" aria-valuetext="1" aria-value-text="1" step="0.5" title="{{strings.i18n_audio_rate}} [{{dialogs.keyboard.MediaOverlaysRateDecrease}}] / [{{dialogs.keyboard.MediaOverlaysRateIncrease}}]" aria-label="{{strings.i18n_audio_rate}} [{{dialogs.keyboard.MediaOverlaysRateDecrease}}] / [{{dialogs.keyboard.MediaOverlaysRateIncrease}}]"  />
            
            <span tabindex="1" aria-hidden="true" id="rate-range-slider-label">1x</span>
            
            <form action="" id="mo-sync-form">
                <input tabindex="1" type="radio" name="mo-sync" value="default" id="mo-sync-default" class="mo-sync" checked="checked"  title="{{strings.i18n_audio_sync_default}} {{strings.i18n_audio_sync}}" aria-label="{{strings.i18n_audio_sync_default}} {{strings.i18n_audio_sync}}"> </input>
                <label tabindex="1" for="mo-sync-default" title="{{strings.i18n_audio_sync_default}} {{strings.i18n_audio_sync}}"><span aria-hidden="true">&#8855;</span></label>

                <input tabindex="1" type="radio" name="mo-sync" value="word" id="mo-sync-word" class="mo-sync" title="{{strings.i18n_audio_sync_word}} {{strings.i18n_audio_sync}}" aria-label="{{strings.i18n_audio_sync_word}} {{strings.i18n_audio_sync}}"> </input>
                <label tabindex="1" for="mo-sync-word" title="{{strings.i18n_audio_sync_word}} {{strings.i18n_audio_sync}}"><span aria-hidden="true">{{strings.i18n_audio_sync_word}}</span></label>
                
                <input tabindex="1" type="radio" name="mo-sync" value="sentence" id="mo-sync-sentence" class="mo-sync" title="{{strings.i18n_audio_sync_sentence}} {{strings.i18n_audio_sync}}" aria-label="{{strings.i18n_audio_sync_sentence}} {{strings.i18n_audio_sync}}"> </input>
                <label tabindex="1" for="mo-sync-sentence" title="{{strings.i18n_audio_sync_sentence}} {{strings.i18n_audio_sync}}"><span aria-hidden="true">{{strings.i18n_audio_sync_sentence}}</span></label>
                
                <input tabindex="1" type="radio" name="mo-sync" value="paragraph" id="mo-sync-paragraph" class="mo-sync" title="{{strings.i18n_audio_sync_paragraph}} {{strings.i18n_audio_sync}}" aria-label="{{strings.i18n_audio_sync_paragraph}} {{strings.i18n_audio_sync}}"> </input>
                <label tabindex="1" for="mo-sync-paragraph" title="{{strings.i18n_audio_sync_paragraph}} {{strings.i18n_audio_sync}}"><span aria-hidden="true">{{strings.i18n_audio_sync_paragraph}}</span></label>
            </form>
            
            <div id="audio-block">
            
            <div id="mo-highlighters">
                <button tabindex="1" id="mo-highlighter-0" type="button" class="btn btn-mo-highlighter" title="{{strings.i18n_audio_highlight}}: {{strings.i18n_audio_highlight_default}}" aria-label="{{strings.i18n_audio_highlight}}: {{strings.i18n_audio_highlight_default}}" aria-selected="true" data-mohighlight="0" >
                    {{strings.i18n_audio_highlight_default}}
                </button>
                <button tabindex="1" id="mo-highlighter-1" type="button" class="btn btn-mo-highlighter" title="{{strings.i18n_audio_highlight}}: #1" aria-label="{{strings.i18n_audio_highlight}}: #1" data-mohighlight="1" >

                </button>
                <button tabindex="1" id="mo-highlighter-2" type="button" class="btn btn-mo-highlighter" title="{{strings.i18n_audio_highlight}}: #2" aria-label="{{strings.i18n_audio_highlight}}: #2" data-mohighlight="2" >

                </button>
                <button tabindex="1" id="mo-highlighter-3" type="button" class="btn btn-mo-highlighter" title="{{strings.i18n_audio_highlight}}: #3" aria-label="{{strings.i18n_audio_highlight}}: #3" data-mohighlight="3" >

                </button>
                <button tabindex="1" id="mo-highlighter-4" type="button" class="btn btn-mo-highlighter" title="{{strings.i18n_audio_highlight}}: #4" aria-label="{{strings.i18n_audio_highlight}}: #4" data-mohighlight="4" >

                </button>
                <button tabindex="1" id="mo-highlighter-5" type="button" class="btn btn-mo-highlighter" title="{{strings.i18n_audio_highlight}}: #5" aria-label="{{strings.i18n_audio_highlight}}: #5" data-mohighlight="5" >

                </button>
                <button tabindex="1" id="mo-highlighter-6" type="button" class="btn btn-mo-highlighter" title="{{strings.i18n_audio_highlight}}: #6" aria-label="{{strings.i18n_audio_highlight}}: #6" data-mohighlight="6" >

                </button>
            </div>

            <button tabindex="1" id="btn-skip-audio-enable" type="button" class="btn icon-skip-audio-enable" title="{{strings.i18n_audio_skip_enable}}" aria-label="{{strings.i18n_audio_skip_enable}}" >
                <span id="icon-skip-off" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>

            <button tabindex="1" id="btn-skip-audio-disable" type="button" class="btn icon-skip-audio-disable" title="{{strings.i18n_audio_skip_disable}}" aria-label="{{strings.i18n_audio_skip_disable}}" >
                <span id="icon-skip-on" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            </button>


            <button tabindex="1" id="btn-esc-audio" type="button" class="btn icon-esc-audio" title="{{strings.i18n_audio_esc}} [{{dialogs.keyboard.MediaOverlaysEscape}}]" aria-label="{{strings.i18n_audio_esc}} [{{dialogs.keyboard.MediaOverlaysEscape}}]" >
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </button>
            
            </div>
            
            <!-- div class="checkbox">
              <label>
                <input type="checkbox" value="false"> Skip
              </label>
            </div -->
        </div>
    </div> 
    <!--Audioplayer Controls END-->
    <button tabindex="1" type="button" class="btn icon-library" title="{{strings.view_library}} [{{dialogs.keyboard.SwitchToLibrary}}]" aria-label="{{strings.view_library}} [{{dialogs.keyboard.SwitchToLibrary}}]">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
    </button>
    <button tabindex="1" type="button" class="btn icon-annotations" title="{{strings.highlight_selection}}" aria-label="{{strings.highlight_selection}}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <button id="tocButt" tabindex="1" tabindex="1" type="button" class="btn icon-toc" title="{{strings.toc}} [{{dialogs.keyboard.TocShowHideToggle}}]" aria-label="{{strings.toc}} [{{dialogs.keyboard.TocShowHideToggle}}]">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    </button>
    <button id="settbutt1" tabindex="1" type="button" class="btn icon-settings" data-toggle="modal" data-target="#settings-dialog" title="{{strings.settings}} [{{dialogs.keyboard.ShowSettingsModal}}]" aria-label="{{strings.settings}} [{{dialogs.keyboard.ShowSettingsModal}}]">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    
    <button tabindex="1" type="button" class="btn icon-full-screen" title="{{strings.enter_fullscreen}} [{{dialogs.keyboard.FullScreenToggle}}]" aria-label="{{strings.enter_fullscreen}} [{{dialogs.keyboard.FullScreenToggle}}]">
        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
    </button>
    <button tabindex="1" type="button" class="btn icon-exit-full-screen" title="{{strings.exit_fullscreen}} [{{dialogs.keyboard.FullScreenToggle}}]" aria-label="{{strings.exit_fullscreen}} [{{dialogs.keyboard.FullScreenToggle}}]">
        <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
    </button>
    <!-- <button type="button" class="btn btn-default icon icon-bookmark"></button>-->
</div>

