{{#name}}
<li>
<label id="label_{{name}}">{{i18n}}<br/><span>{{name}}</span></label>
<input id="{{name}}" name="{{name}}" type="text" tabindex="1000" placeholder="{{shortcut}}" value="{{shortcut}}" aria-labelledbyxxx="label_{{name}}" aria-label="{{i18n}}" title="{{i18n}}"></input>
<button class="resetKey captureKeyboardShortcut" role="button" data-key="{{name}}" tabindex="1000" title="{{strings.i18n_reset_key}} ({{def}})" aria-label="{{strings.i18n_reset_key}} ({{def}})"><span aria-hidden="true">&#8855;</span></button>
</li>
{{/name}}
{{^name}}
<li id="resetAllKeys{{id}}" class="resetAllKeys">
<button class="resetKey" role="button" tabindex="1000" title="{{strings.i18n_reset_key_all}}" aria-label="{{strings.i18n_reset_key_all}}"><span aria-hidden="true">{{strings.i18n_reset_key_all}}  &#8855;</span></button>
</li>
{{/name}}
