
#
# See package.cson for more information
#

#=====================
#### BLOCKING! (CTRL-C) [watch][live-reload][http]
    'http:watch': '

        echo > open_webbrowser.js
        &&
        parallelshell
            \"npm run dowatch\"
            \"npm run http:app_ebooks\"
    '
#    \"npm run live-reload\"

#=====================
#### BLOCKING! (CTRL-C) [watch][live-reload][http]
    'http': '

        echo > open_webbrowser.js
        &&
        parallelshell
            \"npm run dowatch:plugins\"
            \"npm run http:app_ebooks\"
    '
#    \"npm run live-reload\"

#=====================
#### BLOCKING! (CTRL-C) [http]
    'http:nowatch': '

        npm run http:app_ebooks
    '

#=====================
#### BLOCKING! (CTRL-C) [watch][live-reload][http]
    'http2:watch': '

        echo > open_webbrowser.js
        &&
        parallelshell
            \"npm run dowatch\"
            \"npm run http:ebooks\"
            \"npm run http:app\"
    '
#    \"npm run live-reload\"

#=====================
#### BLOCKING! (CTRL-C) [watch][live-reload][http]
    'http2': '

        echo > open_webbrowser.js
        &&
        parallelshell
            \"npm run dowatch:plugins\"
            \"npm run http:ebooks\"
            \"npm run http:app\"
    '
#    \"npm run live-reload\"

#=====================
#### BLOCKING! (CTRL-C) [http]
    'http2:nowatch': '

        parallelshell
            \"npm run http:ebooks\"
            \"npm run http:app\"
    '

#=====================
#### BLOCKING! (CTRL-C) [watch or nodemon]
    'dowatch:plugins': '

        npm run watch
            \"npm run genPluginsConfig
                && node readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/webbrowser.js
                && npm run rimraf
                    open_webbrowser.js\"
            readium-js/readium-shared-js/plugins/
    '
    
#=====================
#### BLOCKING! (CTRL-C) [watch or nodemon]
    'dowatch': '

        npm run watch
            \"npm run build
                && node readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/webbrowser.js
                && npm run rimraf
                    open_webbrowser.js\"
            dev/ src/ readium-js/js/ readium-js/readium-shared-js/js/ readium-js/readium-shared-js/plugins/ readium-js/readium-shared-js/readium-cfi-js/js/
    '
    #    nodemon -q
    #    -w build-output/
    #    --ext \".\"
    #    --exec \" ... \"

#=====================
    'http:app': '

        node
            readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/http-server.js
            
            -LOGFILE
            http_app.log
            
            -OPEN
            /dev/index_RequireJS_no-optimize.html
            
            -p 9090

            -c-1
            ./
    '

#=====================
    'http:ebooks': '

        node
            readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/http-server.js
            
            -LOGFILE
            http_ebooks.log
            
            -a 127.0.0.1
            -p 8080

            -c-1
            --cors
            ./epub_content
    '

#=====================
#### BLOCKING! (CTRL-C) [http]    
    'http:app_ebooks': '

        node
            readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/http-server.js
            
            -LOGFILE
            http_app-ebooks.log
            
            -OPEN
            /dev/index_RequireJS_no-optimize.html
            
            -a 127.0.0.1
            -p 8080
    
            -c-1
            .
    '

#=====================
#### BLOCKING! (CTRL-C) [http]    
    'http:cloudReaderDist': '

        node
            readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/http-server.js
            
            -LOGFILE
            http_app-ebooks.log
            
            -OPEN
            /dist/cloud-reader/?epubs=http://127.0.0.1:8080/epub_content/epub_library.opds
            
            -a 127.0.0.1
            -p 8080
    
            -c-1
            .
    '

#=====================
#### BLOCKING! (CTRL-C) [http]    
    'http:travis': '

        node
            node_modules/http-server/bin/http-server 
            
            -a 127.0.0.1
            -p 8080
    
            -c-1
            ./dist/cloud-reader/
    '

#=====================
#    'live-reload': '
#
#        live-reload --port 9091 --delay 1000 build-output/
#    '
