
#
# See package.cson for more information
#

#=====================
    genOPDS: '
        npm run genOPDS_IDPF_tests
        &&
        npm run genOPDS_DAISY_tests
        &&
        npm run genOPDS_IDPF_samples
    '

# https://github.com/IDPF/epub-testsuite/tree/master/content/30
#=====================
    genOPDS_IDPF_tests: '
        node ./readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/genOPDS.js
            epub_content/epub_testsuite.opds
            IDPF epub-testsuite master /content/30
    '

# https://github.com/daisy/epub-accessibility-tests/tree/master/content
#=====================
    genOPDS_DAISY_tests: '
        node ./readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/genOPDS.js
            epub_content/epub_tests_a11y.opds
            daisy epub-accessibility-tests master /content
    '

# https://github.com/IDPF/epub3-samples/tree/master/30
#=====================
    genOPDS_IDPF_samples: '
        node ./readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/genOPDS.js
            epub_content/epub_samples.opds
            IDPF epub3-samples master /30
    '
