
#
# See package.cson for more information
#

#####################################################################
scripts:

#=====================
    cson2json: '
        node ./readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/concat.js "package/*.cson" package.cson
        &&
        node ./readium-js/readium-shared-js/readium-cfi-js/node_modules/cson/bin/cson2json package.cson > package.json
        &&
        node ./readium-js/readium-shared-js/readium-cfi-js/node_modules/rimraf/bin.js package.cson
        &&
        node readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/optimizePackageJsonScripts.js
    '

#=====================
    'prepare:all': '

        npm run
            prepare:submodule
        &&
        npm run
            prepare:local
    '

#=====================
    'prepare:local': '

        (npm outdated || echo outdated)
        &&
        npm install --no-save --only=prod
        &&
        npm install --no-save --only=dev
        &&
        npm update --no-save
        &&
        npm run prepare:local:common
    '

#=====================
    'prepare:yarn:all': '

        yarn run
            prepare:yarn:submodule
        &&
        yarn run
            prepare:yarn:local
    '

#=====================
    'prepare:yarn:local': '

        (yarn outdated || echo outdated)
        &&
        yarn install
        &&
        yarn upgrade
        &&
        yarn run prepare:local:common
    '

#=====================
    'prepare:local:common': '

        node readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/gitHubForksUpdater.js
    '

#=====================
    'prepare:submodule': '

        cd readium-js
        &&
        npm run prepare:all
        &&
        cd ..
        &&
        ls
    '

#=====================
    'prepare:yarn:submodule': '

        cd readium-js
        &&
        yarn run prepare:yarn:all
        &&
        cd ..
        &&
        ls
    '
