
#
# See package.cson for more information
#

#####################################################################
scripts:

#=====================
    cson2json: '
        node ./readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/concat.js package/*.cson package.cson
        &&
        node ./readium-js/readium-shared-js/readium-cfi-js/node_modules/cson/bin/cson2json package.cson > package.json
        &&
        node ./readium-js/readium-shared-js/readium-cfi-js/node_modules/rimraf/bin.js package.cson
        &&
        node readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/optimizePackageJsonScripts.js
    '

#=====================
    'prepare': '

        npm run
            prepare:submodule
        &&
        npm run
            prepare:dependencies
    '

#=====================
    'prepare:dependencies': '

        npm install
        &&
        npm update
        &&
        node readium-js/readium-shared-js/readium-cfi-js/readium-build-tools/gitHubForksUpdater.js
    '

#=====================
    'prepare:submodule': '

        cd readium-js
        &&
        npm run prepare
        &&
        cd ..
        &&
        ls
    '
